<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Octomino WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Octomino.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>219EE43C1AD0DB8500045DF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>219EE4511AD0DB8600045DF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21A860421B039F7E006ED4D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>21A8604C1B039F7E006ED4D3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
